# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.python-version

.venv/
.venv-airflow/

# ==========================
# Package Managers
# ==========================

uv.lock

# ==========================
# IDE
# ==========================

.vscode/

# ==========================
# Testing
# ==========================

.pytest_cache/
.mypy_cache/
.ruff_cache/

.coverage
htmlcov/

# ==========================
# Logs
# ==========================

*.log

# ==========================
# OS
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Environment
# ==========================

.env
.env.*

# ==========================
# Terraform
# ==========================

.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# ==========================
# Spark
# ==========================

metastore_db/
spark-warehouse/

# ==========================
# Airflow
# ==========================

airflow.db

infrastructure/docker/config/airflow.cfg
infrastructure/docker/airflow/logs/
infrastructure/docker/airflow/plugins/__pycache__/

# ==========================
# dbt
# ==========================

dbt_packages/
target/
logs/

# ==========================
# Jupyter
# ==========================

.ipynb_checkpoints/

# ==========================
# Terraform
# ==========================

**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform Lock
!.terraform.lock.hcl